<!DOCTYPE html>
<html>
<head>
    <title>#life</title>
    <meta name="Description" content="Explore your community. A hashtag away. Available on iOS and Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:url" content="https://www.hashtaglifeapp.com">
    <meta property="og:title" content="#life - Explore your community. A hashtag away.">
    <meta property="og:image" content="../images/fox-badge@2x-033bb8d3e9.png">
    <meta property="og:site_name" content="#life">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="#life - Explore your community. A hashtag away.">
    <meta name="twitter:creator" content="@hashtaglifeapp">
    <meta name="twitter:image" content="../images/fox-badge@2x-033bb8d3e9.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
